@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.image-position{
    background-image: url(../images/man-infront-wall.jpg);
    height: 50vh;
    background-position: bottom;

}

.image-position h1{
    text-align: center;
    color:azure;
    font-size: 100px;
    padding-top: 60px;
    letter-spacing: 2px;
}

.artical{
    width: 80%;
    margin: 60px auto;
    text-align: justify;
    border: 10px solid greenyellow;
    padding: 15px;
    background-color: aquamarine;
    background: linear-gradient(60deg, rgb(95, 95, 175), pink);
}

.artical h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.artical p .imp{
    font-size: 1em;
    font-weight: 700;
}

